body{background-color:rgb(206, 132, 128); 
    text-align: center;
    padding:50px 200px 200x 50px  
}

h1{font-family:fantasy;
font-style: italic;
}

h2, h3{font-size: 25px;
    font-family: fantasy;
   
}

p{font-family: monospace;
    font-weight: 300;
    font-size: 18px;
}

ul{text-align: left;

}
.list-type{font-size: 13px;
    text-decoration:line-through ;
}
.photo{border-radius: 150%;
text-align: center;
}
