body{background-color:rgb(132, 172, 278); 
}

h1{font-family:monospace;
font-style:bold;
}

h2, h3{font-family: monospace;
}

p{font-family: monospace;
    font-weight: 300;
    font-size: 12px;
}

ul{text-align: left;
    list-style: none;
    font-family: monospace;
}

.list-type{font-size: 13px;
    text-decoration:line-through ;
}

.foto{border-radius:150%;
text-align: center;
}

.muralfoto{float: right;
    margin-left: 500px;
}

.muralinfo{float: left;


}